@font-face {
    font-family: 'Montserat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserat'), local('Montserat-Regular'),
    url(fonts/Montserat-Regular.woff2) format('woff2'),
    url(fonts/Montserat-Regular.woff) format('woff');
}

@font-face {
		font-family: 'Montserat';
		font-style: normal;
		font-weight: bold;
		src: local('Montserat'), local('MOntserat-Bold'),
		url(fonts/Montserat-Bold.woff2) format('woff2'),
		url(fonts/Montserat-Bold.woff) format('woff');
}